---
import img from "../../assets/imgs/electronic_stuff-image.png";
---

<section class="branding-section">
  <div class="container-img">
    <img
      src={img}
      class=""
      alt="Technology stuff image"
    />
  </div>
  <div class="banner">
    <h2 class="first-h2">DREAM BIGGER</h2>
    <h2 class="last-h2">GROW FASTER</h2>
  </div>
  <div class="btn-main">
    <a href="#"
      >Speak to Our Team Today <span>Schedule Your FREE Audit Call Now</span></a
    >
  </div>
</section>
