---
import MultiStepForm from "./MultiStepForm";
---

<div class="mb-[700px] lg:mb-[850px]">
  <section class="container-form">
    <h2 id="contact">LET'S TALK</h2>
    <div class="title-form">
      <h3>Have a project in mind? Let’s make your idea come reality</h3>
    </div>
  </section>
    <MultiStepForm client:load />
</div>
