---
import img from "../../assets/imgs/world_image.png";
---

<section class="grow-section">
  <h2>WHY A WEBSITE WILL GROW YOUR COMPANY</h2>
  <div class="img-container">
    <img src={img} alt="World Design image" />
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis. <br />
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
  </p>
</section>
