---
import logo from '../../assets/icons/logo-gerodev-white.svg';
import hamburger from '../../assets/icons/hamburger_menu-icon.svg'
---


<header>
  <nav>
    <div class="left-section">
      <img src={logo} alt="Logo GeroDiv" />
    </div>
    <div class="right-section">
      <img src={hamburger} alt="Menu Icon" />
      <div class="nav-links">
        <ul>
          <li><a href="#">Work</a></li>
          <li><a href="#">Form</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
