---
import bamboo from "../../assets/imgs/bamboo-image-s2.png";
---


<section class="introduce-section">
  <h2>Our Philosophy</h2>
  <img src={bamboo} alt="Bamboo Image" />
  <p>
    Here at NAMEOFAGENCY, we've worked with the best in the industry to produce
    millions of dollars in return on ad spend. We do away with the the
    inefficiencies & formalities that plague most agencies. <br />
    <br /> Our client case studies have become myth, our waiting list is longer than
    your complaints with your current agency and we look for a very specific kind
    of client.
  </p>
</section>
