---
import statistics from "../../assets/imgs/estadistics-image.png";
---


<section class="show-section">
  <h2>Show the world what your business is made of.</h2>
  <img src={statistics} alt="Graphic Image" />
  <p>
    Stop wasting time and money on faulty and ineffective ad campaigns. <br />
    <br /> It's time to make your ad-budget count, scale your business and blow up
    your sales.
  </p>
</section>
