:root{
    --just-black: #000000;
    --just-white: #FFFFFF;
    --opaque-white: #DDD9D9;

    --principal-font: 'Inter Tight', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

/* HEADER */
header{
    width: 100%;
}

header nav {
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    align-items: center;
}

header nav .left-section{
    margin-left: 8px;
}

header nav .left-section img{
    width: 90px;
}

header nav .right-section{
    display: flex;
    justify-content: end;
    margin-right: 27px;
}

header nav .right-section .nav-links{
    display: none;
}

/* MAIN */

main {
    width: 100%;
}

main .principal-section{
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

main .principal-section h1{
    width: 260px;
    text-align: left;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 40px auto 60px auto;
}

main .container-main-image {
    margin-right: 20%;
    margin-bottom: 30%;
}

main .container-main-image .images-main{
    position: relative;
}

main .container-main-image .images-main .icon-image{
    max-width: 70px;
    position: absolute;
}

main .container-main-image .images-main .icon-image{
    max-width: 50px;
    position: absolute;
}

main .container-main-image .images-main .panda-image{
    max-width: 280px;
}
main .container-main-image .images-main .icon-1{
    top: -30px;
    right: 150px;
}

main .container-main-image .images-main .icon-2{
    top: -10px;
    right: 75px;
}

main .container-main-image .images-main .icon-3{
    top: 40px;
    right: -2px;
    max-width: 60px;
}

main .container-main-image .images-main .icon-4{
    top: 120px;
    right: -45px;
    max-width: 65px;
}

main .container-main-image .images-main .icon-5{
    top: 215px;
    right: 5px;
    max-width: 60px;
}

main .container-main-image .images-main .icon-6{
    top: 240px;
    right: 95px;
    max-width: 60px;
}

main .container-main-image .images-main .icon-7{
    top: 220px;
    left: 48px;
    max-width: 50px;
}

main .principal-section .btn-main {
    grid-row-start: 3;
    grid-row-end: 4;
}
main .principal-section .btn-main a,
main .branding-section .btn-main a{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    color: var(--just-white);
    background-color: var(--just-black);
    margin-bottom: 70px;
}

main .principal-section .view-more{
    display: none;
}

main .introduce-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    background-color: var(--just-black);
}

main .introduce-section h2 {
    font-size: 2rem;
    margin: 50px auto 50px auto;
    color: var(--just-white);
}

main .introduce-section img {
    width: 100%;
    max-width: 300px;
    
}

main .introduce-section p {
    width: 80%;
    margin: 30px auto 40px auto;
    font-size: 1rem;
    font-weight: 400;
    color: var(--opaque-white);
}
main .offer-section{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    height: 80vh;
    max-height: 900px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
main .offer-section .main-txt {
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin: 60px 0 60px 12%;
}

main .offer-section .main-txt span{
    font-weight: 700;
    width: 200px;
}

main .offer-section .main-txt h2{
    margin: 10px 0 20px 0;
    font-size: 2rem;
    width: 200px;
}

main .offer-section .main-txt p {
    margin: 0 0 20px 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--just-black);
    width: 90%;
}

main .offer-section .main-txt .check-marks div {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

main .offer-section .main-txt .check-marks i{
    display: inline-block;
    background-image: url("../assets/icons/icons8-checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

main .offer-section .container-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    justify-items: start;
    align-items: center;
    width: 100%;
    column-gap: 2%;
    row-gap: 0.5%;
}

main .offer-section .container-images img{
    width: 100%;
    object-fit: cover;
    min-width: 100px;
    max-width: 330px;
}

main .offer-section .container-images .image-one{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}

main .offer-section .container-images .image-two{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

main .offer-section .container-images .image-three{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

main .offer-section .container-images .image-four{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

main .offer-section .container-images .image-five {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;


}

main .offer-section .container-images .image-six {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

main .offer-section .container-images .image-seven{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

main .show-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: var(--just-black);
    justify-items: center;
}
main .show-section  h2{
    font-size: 2rem;
    text-align: center;
    width: 90%;
    max-width: 369px;
    color: var(--just-white);
    margin: 60px 0 30px 0px;
}

main .show-section img{
    width: 100%;
    max-width: 300px;
}

main .show-section p{
    font-size: 1rem;
    font-weight: 400;
    width: 90%;
    max-width: 369px;
    color: var(--opaque-white);
    margin: 30px 0 60px 0;
}

main .branding-section{
    padding-bottom: 80px;
}

main .branding-section .container-img{
    display: flex;
    justify-content: end;
}
main .branding-section .container-img img{
    width: 100%;
    max-width: 400px;
    
}

main .branding-section h2{
    margin: 0;
    font-size: 2rem;
}

main .branding-section .first-h2{
    margin-left: 15px;
}
main .branding-section .last-h2{
    margin-bottom: 10px;
    margin-left: 70px;
    
}

main .branding-section .btn-main a{
    width: 80%;
    margin: 0 auto;
}

main .grow-section{
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 60px;
}

main .grow-section h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 400px;
}
main .grow-section img{
    width: 100%;
    max-width: 400px;
}

main .grow-section p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 400px;
    margin: 30px 0 60px 0;
    text-align: center;
}

main .container-form {
    position: relative;
    
}

main .container-form h2{
    font-size: 5rem;
    width: 100%;
    color: var(--opaque-white);
    position: absolute;
}

main .container-form .title-form{
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

main .container-form .title-form h3{
    font-size: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

@media only screen and (min-width: 430px) {
    main .offer-section .container-images {
        row-gap: 10%;
    }
}

@media only screen and (min-width: 660px) {
    main .offer-section{
        margin-bottom: 100px;
    }
    main .offer-section .container-images {
        row-gap: 20%;
    }
    main .container-form h2{
        font-size: 8rem;
        width: 600px;
    }

    main .container-form .title-form{
        position: absolute;
        top: 200px;
        width: 100%;
        text-align: center;
    }
} 

